@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'DM Serif Display', serif;
}

.HorizUpper {
    display: inline-block;
    margin-right: -100px;
}

h3{
    text-align: left;
    margin-left: 100vh;
    /* margin-top: 10px; */
}

h2{
    text-align: center;
    padding-top: 10px;
    /* padding-bottom: 5px; */
}
.party-details{
    margin-left: 700px;
    list-style: none;
}

.innerList {
    display: inline-block;
    margin-right: -100px;
}

.party-words{
    list-style: none;
    margin-left: -600px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.symbol{
    height: 80px;
    width: 80px;
    background-color: #515151;
    margin-left: -375px;
}
/* h3{
    text-align: center;
    margin-top: 1.5vh;
}

.container {
    max-width: 350px;
    height: 270px;
    margin: auto;
    padding: 20px;
    background-color: #d9d9d9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 5vh;
}

.heading {
    text-align: center;
    margin: 20px 0 40px 0;
    color: #333;
    font-size: 3.8vh;
    font-weight: bold;
}

form {
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login {
    background-color: #515151;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 26px;
    cursor: pointer;
    margin: 20px 0 10px 0;
}
.login:hover {
    background-color: #676767;
}
.registercontent {
    text-align: center;
    font-size: 2vh;
}
.errormessage {
    color: red;
} */