.header-part{
    background-color: #d9d9d9;
    height: 74px;
    width: 100%;
}

.upper-logo{
    list-style: none;
}

.InnerHoriz{
    list-style: none;
    margin-left: -620px;
    margin-top: 0px;
    margin-bottom: 20px;
}