*{
    margin: 0;
    padding: 0;
}

.upper-upper{
    list-style: none;
}

.HoriUpper {
    display: inline-block;
    margin-right: -200px;
}

.InnerHori{
    list-style: none;
    margin-left: -200px;
    margin-top: -2px;
    margin-bottom: 20px;
}